.ui-dynamic-wrap, .ui-hc-wrap {
    font-size: 82px;
    font-weight: bold;
}

.ui-dynamic-node {
    background: #FFF;
}

.ui-hc-wrap {
    width: 720px;
    height: 520px;
    padding-top: 60px;
    margin: 0 auto;
}

.ui-string {
    margin-top: -15px;
}