.ui-dynamic-wrap, .ui-hc-wrap {
    font-size: 82px;
    font-weight: bold;
}

.ui-dynamic-node {
    background: #FFF;
}

.ui-hc-wrap {
    width: 720px;
    height: 520px;
    padding-top: 160px;
    margin: 0 auto;
}

.ui-string {
    /*position: relative;*/
    /*z-index: 400;*/
}