.ui-animation-container {
    margin-top: 5%;
    width: 360px;
    font-size: 26px !important;
}

.ui-logo-add-dots:before {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
    top: 5px;
    left: 9px;
}

.ui-logo-add-dots:after {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #6E4A21;
    top: 5px;
    left: 75px;
}


.ui-animation-header {
    padding: 0 0 50%;
}