.ui-animation-container {
    margin-top: 5%;
    width: 370px;
    font-size: 26px !important;
    padding-bottom: 60px;
}

.ui-contacts-wrap {
    width: 370px;
}

.ui-contact-icon, .ui-contacts-info {
    height: 24px;
}

.ui-contacts-info {
    padding: 4px;
    font-size: 14px;
}

.ui-logo-add-dots:before {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
    top: 5px;
    left: 9px;
}

.ui-logo-add-dots:after {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #6E4A21;
    top: 5px;
    left: 75px;
}


.ui-animation-header {
    padding: 0 0 60%;
}

.ui-node {
    top: 1px;
}