@font-face {
    font-family: "Maax";
    src: url("../fonts/Maax/Maax.otf");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #EEE;
    font-family: "Maax";
    cursor: pointer;
}

.ui-section {
    width: 100%;
    height: 100%;
}

.ui-bg-brown {
    background-color: #A1732D;
}

.ui-bg-light-green {
    background-color: #63CC99;
}

.ui-color-red {
    color: #E05C5B;
}