@font-face {
    font-family: "Circular Book";
    src: url("../fonts/circular-book.woff");
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #EEE;
    font-family: "Circular Book";
    cursor: pointer;
}

body.isAnimating {
    cursor: default;
}

.ui-section {
    width: 100%;
    height: 100%;
}

.ui-bg-light-green {
    background: #63CC99;
}

.ui-bg-peach {
    background: #EA5C65;
}

.ui-color-peach {
    color: #EA5C65;
}

.ui-color-brown {
    color: #674133;
}

.ui-color-red-svg {
    font-size: 14px;
    color: #E05C5B;
}

@keyframes charAnimation {
    0% {
        color: #EA5C65;
        text-shadow: 1px 1px 1px rgba(0,0,0,0);
    }
    50% {
        color: #674133;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
    }
}

.ui-static-wrap, .ui-dynamic-wrap, .ui-hc-wrap {
    position: relative;
    margin: 0 auto;
    width: 40%;
    font-size: 72px;
}

.ui-svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ui-string {
    position: relative;
    /*z-index: 1;*/
}

.ui-manifesto-word {
    display: inline-block;
}

.ui-node {
    position: relative;
    top: 3px;
    display: inline-block;
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 5px;
}

.ui-node-svg {
    fill: #FFF;
    stroke: none;
}

.ui-path-svg {
    fill: none;
    stroke: rgba(255, 255, 255, .4);
    stroke-width: 10;
}

.ui-word {
    color: #674133;
    opacity: .1;
    -webkit-animation: charAnimation 1s;
    -o-animation: charAnimation      1s;
    animation: charAnimation         1s;
}