@font-face {
    font-family: "Maax";
    src: url("../fonts/Maax/Maax.otf");
}

html, body {
    height: 100%;
}

body {
    background: #EEE;
    font-family: "Maax";
    cursor: pointer;
}

.ui-section {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.ui-bg-light-green {
    background: #63CC99;
}

.ui-bg-peach {
    background: #EA5C65;
}

.ui-color-peach {
    color: #EA5C65;
}

.ui-color-brown {
    color: #674133;
}
.ui-color-red-svg {
    font-size: 14px;
    color: #E05C5B;
}

.ui-static-wrap, .ui-dynamic-wrap, .ui-hc-wrap {
    position:relative;
    margin: 0 auto;
    width: 40%;
    font-size: 72px;
}

.ui-svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ui-manifesto-word {
    display: inline-block;
}

.ui-node {
    position: relative;
    top: 3px;
    display: inline-block;
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 5px;
}

.ui-node-svg {
    fill: #FFF;
    stroke: none;
}

.ui-path-svg {
    fill: none;
    stroke: rgba(255, 255, 255, .4);
    stroke-width: 10;
}