.ui-animation-container {
    margin-top: 5%;
    width: 310px;
    font-size: 22px !important;
    padding-bottom: 60px;
}

.ui-contacts-wrap {
    width: 310px;
}

.ui-contact-icon, .ui-contacts-info {
    height: 22px;
}

.ui-contacts-info {
    padding: 2px;
    font-size: 12px;
}

.ui-logo-add-dots:before {
    position: absolute;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    background: #614700;
    top: 4px;
    left: 9px;
}

.ui-logo-add-dots:after {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    background: #614700;
    top: 3px;
    left: 66px;
}


.ui-animation-header {
    padding: 0 0 50%;
}

.ui-node {
    top: 1px;
}